.news {
    &__upper {
        padding: 50px 0 20px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        row-gap: 62px;
        column-gap: 30px;

        @media screen and (max-width: 975px) {
            column-gap: 15px;
        }

        @media screen and (max-width: 850px) {
            grid-template-columns: repeat(2, minmax(auto, 1fr));
        }

        @media screen and (max-width: 768px) {
            display: flex;
            column-gap: 0;
            row-gap: 0;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 9px;
        &-img {
            padding: 10px;

            background: $colorWhite;
            
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 10px;

            @media screen and (max-width: 575px) {
                height: 250px;
            }
        }

        &-date {
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            color: $colorBlack;

            background: #CDE6FD;

            display: block;

            padding: 4px 10px;

            width: max-content;

            border-radius: 30px;
        }

        &-info {
            font-size: 21px;
            line-height: 23px;
            font-weight: 400;
            color: $colorBlack;

            display: block;

            @media screen and (max-width: 1280px) {
                font-size: 16px;
                line-height: 18px;
            }

            @media screen and (max-width: 850px) {
                font-size: 19px;
                line-height: 21px;
            }
        }
    }

    &__img {
        width: 100%;

        border-radius: 10px;

        @media screen and (max-width: 575px) {
            height: 100%;

            object-fit: cover;
        }
    }

    &__button {
        width: 330px;

        margin: 30px auto 0;

        @media screen and (max-width: 768px) {
            margin: 30px auto 0;
        } 

        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }

    .swiper {

        @media screen and (max-width: 768px) {
            padding-bottom: 87px;
        }
    }

    .swiper-pagination {
        @media screen and (max-width: 768px) {
            bottom: 0;
        }
    }
}