body {
    font-family: $fontLato;

    background: #F1F4FF;


    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    color: $colorBlack;

    &.js-body-scroll {
        overflow: hidden;
    }
}

.quote {
    display: flex;
    align-items: flex-start;
    gap: 21px;

    @media screen and (max-width: 1025px) {
        gap: 19px;
    }

    &__text {
        font-size: 32px;
        line-height: 34px;
        font-style: italic;
        font-weight: 400;
        color: #767FA0;

        display: grid;
        gap: 10px;

        @media screen and (max-width: 1025px) {
            font-size: 27px;
            line-height: 29px;

            gap: 8px;
        }

        &_small {
            font-size: 16px;
            line-height: 18px;
            font-style: normal;
            font-weight: 400;
        }

        span {
            display: flex;
        }
    }
}

.donation__upper {
    padding: 0 0 20px;
}